<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">COURART</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="motoristas" routerLinkActive="active">Motoristas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="veiculos" routerLinkActive="active">Veículos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="direcoes" routerLinkActive="active">Direção</a>
        </li>
    </ul>
</nav>